@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 /* -----------------GERAL--------------------------------- */ 
  /* ------------------------------------------------------- */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {height:100%;}

body{

    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 1920px;



}
 /* -----------------HEADER--------------------------------- */ 
  /* ------------------------------------------------------- */ 

header {
    width: 100%;
    background-color: #5fbaf7;
}

.container_header
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    padding: 20px 0px;
}

.logotipo{
    display: inline-flex;
    align-items: center;
}
.logo{
    width: 100px;
    margin-right: 25px;
    align-items: center;
}

.tipo p {
    color: rgb(255, 255, 255);
    filter: opacity(85%);
    font-size: 42px;
    font-weight: bolder;
    margin: 0px;
    display: flex;
    
}

header .navmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;    
}

header ul li {
    margin: 10px 10px;
    display: inline-flex;
    }

header ul li a {
    text-decoration: none;
    text-align: center;
    color: #69b7d6;
    background-color: #fffffff1;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.2s;
}

header ul li a:hover {
  
    background-color:  #ffffff;
    color: #76caeb;
    transition: 0.3s;
    -webkit-text-decoration: #fd5f7e double underline;
    text-decoration: #fd5f7e double underline;
}

.header_hover {
  
    background-color:  #ffffff;
    color: #76caeb;
    transition: 0.3s;
    -webkit-text-decoration: #fd5f7e double underline;
    text-decoration: #fd5f7e double underline;
}

 /* -----------------MAIN--------------------------------- */ 
  /* ------------------------------------------------------- */ 
main {
   width: 70%;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 50px;

   min-height: 1080px;
   
}

.titulo{
display: flex;
flex-direction: row;
margin-bottom: 55px;
margin-top: 45px;
align-items: center;
color: #575757;
-webkit-text-decoration: #fd5f7e double underline;
text-decoration: #fd5f7e double underline;
}

.icone {
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;

}

.card {
    text-decoration: none;
    color: #4f4c5f;
    background-color: rgb(240, 240, 240);
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px 1px rgb(224, 224, 224);
    font-size: large;
    line-height: 1.3;
  
}

.lgfont {
    font-size: 20px ;
    line-height: 1.3;
    
}

.card h4 {
    margin-bottom: 30px;

}

.card p {
    margin-bottom: 15px;

}

.card a {
    text-decoration: none;
    color: #4f4c5f;


}
.card a:hover {
    text-decoration: underline;
    color: #4f4c5f

}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.icone_social {
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

.video {
    display: flex;
    justify-content: center;

}





 /* -----------------FOOTER--------------------------------- */ 
  /* ------------------------------------------------------- */ 
footer {
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: rgb(148, 148, 148);
    background-color: #5fbaf7;
}

.container_footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
    padding: 20px 0px;
}

.container_footer .logotipo{
    display: inline-flex;
    align-items: center;

    
}
.container_footer .logo{
    width: 60px;
    margin-right: 15px;
    filter: opacity(90%);
}

.container_footer .tipo p {
    color: rgb(255, 255, 255);
    filter: opacity(70%);
    font-size: 25px;
}

.container_footer .copy {
    color: rgb(255, 255, 255);
    filter: opacity(70%);
    font-size: 15px;
}


 /* -----------------FORM--------------------------------- */ 
  /* ------------------------------------------------------- */ 

.form_area {
padding: 0px;
margin: auto;
width: 70%;

}
  
  input[type=text], input[type=email], textarea {
    background-color: rgb(255, 255, 255);
    border: 1px #4f4c5f;
    border-radius: 5px;
    color: rgb(94, 94, 94);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif;
  }

  textarea {
      height: 250px;
  }

  .p_button {
      text-align: end;
  }

  button[type=submit] {
    background-color: #78cbec;
    border: 1px #4f4c5f;
    border-radius: 5px;
    color: white;
    padding: auto;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    width: 100px;
    height: 45px;
    text-align: center;
    justify-content: center;
  }
 
  button[type=submit]:hover {
    background-color: #34b5e1;
    transition: 0.3s;
 
    }

